<div class="row">
    <div class="col col-12">
        <h2>Расчет пропорции интервалов PP</h2>
        <form
                action=""
                class=""
                [formGroup]="arrhythmiaForm"
        >
            <sum-field
                    [input]="pp1"
                    [step]="10"
                    [maximum]="arrhythmiaModel.settings.interval.max"
                    [minimum]="arrhythmiaModel.settings.interval.min"
                    [data]="{'name':'pp1', 'title':'P<sub>0</sub>P<sub>1</sub> интервал'}">
            </sum-field>
            <sum-field
                    [input]="pp2"
                    [step]="10"
                    [maximum]="arrhythmiaModel.settings.interval.max"
                    [minimum]="arrhythmiaModel.settings.interval.min"
                    [data]="{'name':'pp2', 'title':'P<sub>1</sub>P<sub>2</sub> интервал'}">
            </sum-field>
            <output class="form-result">
                <strong *ngIf="useSeconds">Разница в миллисекундах
                    {{ this.output }}
                </strong>
                <strong *ngIf="!useSeconds">Разница в процентах
                    {{ this.output }}
                </strong>
            </output>
            <output class="form-result">
                <strong *ngIf="heartRate && !isArrhythmia && arrhythmiaForm.valid">
                    ЧСС {{ heartRate[0] }} уд/мин.
                </strong>
                <strong *ngIf="heartRate && isArrhythmia && arrhythmiaForm.valid">
                    ЧСС от {{ heartRate[0] }} до {{ heartRate[1] }} уд/мин.
                </strong>
            </output>
            <div class="form-alert alert alert-warning" role="alert" *ngIf="isArrhythmia && arrhythmiaForm.valid">
                Аритмия - по данным значениям интервалов PP
            </div>
            <div class="row">
                <div class="col col-12">
                    <button class="btn btn-primary" type="reset" (click)="reset($event)">Сбросить</button>
                </div>
            </div>
        </form>
    </div>
</div>