<h2>Настройки</h2>
<form action=""
      [formGroup]="settingsForm"
      (ngSubmit)="onSubmit(settingsForm.value)"
      class="count-form">
    <settings-field
      [input]="accuracy"
      [step]="1"
      [value]="service.accuracy"
      [maximum]="service.settings.accuracy.max"
      [minimum]="service.settings.accuracy.min"
      [data]="{
        'name': 'accuracy',
        'title': 'Точность - количество знаков после запятой.',
        'output': 'Точность - '
      }">
    </settings-field>
    <settings-field
      *ngIf="usePercentage"
      [input]="coefficient"
      [step]="1"
      [value]="service.coefficient"
      [maximum]="service.settings.coefficient.max"
      [minimum]="service.settings.coefficient.min"
      [data]="{
        'name': 'coefficient',
        'title': 'Разница в %, когда диагностируется аритмия',
        'output': 'Разница в % - '
      }">
    </settings-field>
    <settings-field
      *ngIf="!usePercentage"
      [input]="difference"
      [step]="10"
      [value]="service.difference"
      [maximum]="service.settings.difference.max"
      [minimum]="service.settings.difference.min"
      [data]="{
        'name': 'difference',
        'title': 'Разница в милисекундах, когда диагностируется аритмия',
        'output': 'Разница в милисекундах - '
      }">
    </settings-field>
    <label class="form-label">
        <input
            class=""
            type="checkbox"
            name="more-then-only"
            [formControl]="moreThenOnlyField">
        Диагностировать аритмию, когда результат больше разницы
    </label>
    <p>
        <span class="state-alert"
              *ngIf="moreThenOnly">
          Расчитывать если результат больше разницы
        </span>
        <span class="state-alert"
              *ngIf="!moreThenOnly">
          Расчитывать если результат больше и/или равен разницы
        </span>
    </p>
    <label class="form-label">
        <input
            class=""
            type="checkbox"
            name="use-percentage"
            [formControl]="usePercentageField">
        Использовать разность в %
    </label>
    <p>
        <span class="state-alert"
              *ngIf="usePercentage">
          Расчитывать используя разность в %
        </span>
        <span class="state-alert"
              *ngIf="!usePercentage">
          Расчитывать используя разность в милисекундах
        </span>
    </p>
    <button id="to-count" type="submit">Сохранить</button>
    <span class="form-alert" *ngIf="formChanged">не сохранено</span>
    <button type="reset" (click)="reset($event)">Сбросить</button>
    <label class="form-label">
        <output *ngIf="message"
                id="message"
                class="">
            {{ this.message }}
        </output>
    </label>
</form>