<div class="row">
    <div class="col col-12">
        <h1 class="text-center">Помощь</h1>
        <ul class="navbar">
            <h2>FAQ список:</h2>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/heart-axis/faq']">FAQ по расчету ЭОС</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/is-arrhythmia/faq']">FAQ по расчету ритмичности</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/qtc/faq']">FAQ по расчету QTc</a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col col-12">
        <p class="h4">Общая справка - вы находитесь в приложении которое содержит набор калькуляторов для помощи в
            работе с
            ЭКГ.</p>
        <hr>
        <p>Чтобы выбрать калькулятор, вы можете вверху в шапке сайта найти выпадающее меню - калькуляторы, в нем есть список
ссылок на все калькуляторы</p>
        <hr>
        <p>Перейдя в калькулятор вы можете найти второе меню под основным в котором будут следующие пункты: калькулятор - ссылка
на сам калькулятор, настройки расчетов - ссылка на страницу с параметрами настройки калькулятора и FAQ - справка для
соответствующего калькулятора</p>
    </div>
</div>