<label
    [for]="data.name"
    data-container="body"
    data-toggle="popover"
    data-placement="top"
    [attr.data-content]="data.popover">
    <output class="form-result">
        {{ this.data.output }}{{ this.value }}{{ this.data.outputAfter || '' }}
    </output>
</label>
<div class="form-label">
    <btn-plus [input]="input" [step]="step"></btn-plus>
    <input name="{{ this.data.name }}"
           id="{{ this.data.name }}"
           class="form-control"
           type="number"
           [formControl]="input">
    <btn-plus [input]="input" [step]="-1 * step"></btn-plus>
</div>
<output class="invalid-feedback" *ngIf="input.errors">
    <span class="input-error" *ngIf="input.hasError('required')">Поле не заполено</span>
    <span class="input-error" *ngIf="input.hasError('invalidNumber') && !input.hasError('required')">Введите число</span>
    <span class="input-error" *ngIf="input.hasError('invalidMinimum')">Введите {{ this.minimum }} или больше</span>
    <span class="input-error" *ngIf="input.hasError('invalidMaximum')">Введите {{ this.maximum }} или меньше</span>
</output>