$color: #171717;

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2em;
  color: #010101;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2em;
  color: $color;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
     -moz-appearance: none;
  margin: 0;
}

input.ng-invalid {
  border: 1px solid crimson;
  box-shadow: 0 0 10px 0 crimson;
}

.form-label {
  display: block;
}