// common
input.ng-invalid {
    border: 1px solid crimson;
    box-shadow: 0 0 10px 0 crimson;
}
.form-label input[type="number"] {
    margin: 0 .6em;
}
.invalid-feedback,
.form-group,
.container {
    display: block;
}
.form-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.form-message {
    margin-top: .6em;
}
.form-result {
    padding: .6em 0;
    & .alert {
        margin-bottom: 0;
    }
}
.form-alert {
    margin: .6em 0;
}
.calculator-slide {
    height: 10vw;
    background-color: darkgrey;
}
.border-view {
    width: 10rem;
}
@media screen and (max-width: 767px) {
    .h1-title {
        font-size: 2.25rem;
    }
}
@media screen and (max-width: 575px) {
    .hide-sm {
        display: none;
    }
}

// typography
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

// host
$host-name: 'app';

#{$host-name} {
    padding-top: 1em;
    padding-bottom: 2em;
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', 'Arial', sans-serif;
    }
}
body #{$host-name} {
    font-family: 'Montserrat', 'Arial', sans-serif;
}
// child component
index,
calc-wrap,
faq-list {
    padding-top: 1.2em;
}
qtc-settings .nav-tabs {
    margin-bottom: 1rem;
}