<header class="row">
    <div class="col col-12">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="../assets/images/logo.svg" width="30" height="30" alt="ФД-формула">
            </a>
            <button
                class="navbar-toggler"
                type="button"
                #mobileMenuButton
                data-toggle="collapse"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
                (click)="toggleMenu()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" #mobileMenu>
                <ul class="navbar-nav" #mobileMenuList>
                    <li class="nav-item">
                      <a class="nav-link" href="#">
                          Главная
                      </a>
                    </li>
                    <li
                        class="nav-item dropdown"
                        #dropDownWrap
                        (click)="toggleDropDown()"
                        (clickOutside)="closeDropDown()">
                        <a
                            class="nav-link dropdown-toggle"
                            #dropDownLink
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            href="#">
                            Калькуляторы
                        </a>
                        <div
                            class="dropdown-menu"
                            #dropDownMenu
                            aria-labelledby="navbar drop-down menu"
                            href="#">
                            <a class="dropdown-item" href="#">Расчет ЭОС</a>
                            <a class="dropdown-item" href="#">Расчет ритмичности</a>
                            <a class="dropdown-item" href="#">Расчет QTc</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            FAQ
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<main class="row">
    <div class="col col-12">
        router-outlet
        <br>
        router-outlet
        <br>
        router-outlet
        <br>
        router-outlet
        <br>
        router-outlet
        <br>
        router-outlet
    </div>
</main>
<footer>
    <hr>
    <div class="row">
        <div class="col">
            <div class="footer__content">
                @ 2017 <a href="mailto:mauserkurz98@gmail.com">Mauserkurz</a>
            </div>
        </div>
    </div>
</footer>