<h1>Приложение функциональная диагностика.</h1>
<nav>
    <ul>
        <li><a [routerLink]="['']" routerLinkActive="active">Главная</a></li>
        <ul>
            <li><a [routerLink]="['heart-axis']" routerLinkActive="active">Расчет ЭОС</a></li>
            <li><a [routerLink]="['is-arrhythmia']" routerLinkActive="active">Расчет соотношения PP</a></li>
        </ul>
        <li><a [routerLink]="['faq-list']" routerLinkActive="active">FAQ</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>