<label class="form-label">{{ this.data.title }}<br>
  <btn-plus [input]="input"></btn-plus>
  <input name="{{ this.data.name }}"
         class=""
         type="number"
         [formControl]="input">
  <btn-minus [input]="input"></btn-minus>
  <br/>
  <output *ngIf="input.errors">
    <span *ngIf="input.hasError('required')">Поле не заполено</span>
    <span *ngIf="input.hasError('invalidNumber') && !input.hasError('required')">Введите число</span>
    <span *ngIf="input.hasError('invalidMinimum')">Введите {{ this.minimum }} или больше</span>
    <span *ngIf="input.hasError('invalidMaximum')">Введите {{ this.maximum }} или меньше</span>
  </output>
</label>