<div class="row">
    <div class="col col-12">
        <h1 class="text-center">{{ title }}</h1>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['calculator']" routerLinkActive="active">Калькулятор</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['settings']" routerLinkActive="active">Настройки расчетов</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['faq']" routerLinkActive="active">FAQ</a>
            </li>
        </ul>
        <router-outlet></router-outlet>
    </div>
</div>