<div class="row">
    <div class="col col-12">
        <div class="jumbotron">
            <h1 class="h1-title display-3">Добро пожаловать в ФД-формула.</h1>
            <p class="lead">Это приложение содержит простые калкуляторы, способные помочь при анализе ЭКГ, такие как
            расчет ритмичности сокращений сердца и положения электрической оси сердца</p>
            <hr class="my-4">
            <p>Приложение включает следующие калькуляторы:</p>
            <ul class="navbar">
                <li class="nav-item">
                    <a [routerLink]="['/heart-axis/calculator']" class="nav-link">Расчет ЭОС</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/is-arrhythmia/calculator']" class="nav-link">Расчет ритмичности</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/qtc/calculator']" class="nav-link">Расчет QTc</a>
                </li>
            </ul>
            <p class="lead">
                <a class="btn btn-primary btn-lg" [routerLink]="['/faq-list']" role="button">Узнать больше</a>
            </p>
        </div>
    </div>
</div>