<div class="row">
    <div class="col col-12">
        <h2>Настройки</h2>
        <form action=""
              [formGroup]="settingsForm"
              (ngSubmit)="onSubmit(settingsForm.value)"
              class="count-form">
            <settings-field
                    [input]="accuracy"
                    [step]="1"
                    [value]="axisCalculatorModel.accuracy"
                    [maximum]="axisCalculatorModel.settings.accuracy.max"
                    [minimum]="axisCalculatorModel.settings.accuracy.min"
                    [data]="{
        'name': 'accuracy',
        'popover': 'Точность - количество знаков после запятой.',
        'output': 'Точность ',
        'outputAfter': ' знака'
      }">
            </settings-field>
            <settings-field
                    *ngIf="useSums"
                    [input]="maxSum"
                    [step]="1"
                    [value]="axisCalculatorModel.maxSum.max"
                    [maximum]="axisCalculatorModel.settings.maxSum.max"
                    [minimum]="axisCalculatorModel.settings.maxSum.min"
                    [data]="{
        'name': 'maxSum',
        'popover': 'Максимальная алгебраическая сумма зубцов.',
        'output': 'Макс. сумма '
      }">
            </settings-field>
            <settings-field
                    *ngIf="!useSums"
                    [input]="maxWave"
                    [step]="1"
                    [value]="axisCalculatorModel.maxWave.max"
                    [maximum]="axisCalculatorModel.settings.maxWave.max"
                    [minimum]="axisCalculatorModel.settings.maxWave.min"
                    [data]="{
        'name': 'maxWave',
        'popover': 'Максимальная амплитуда зубцов.',
        'output': 'Макс. амплитуда '
      }">
            </settings-field>
            <div class="form-check">
                <label class="form-check-label">
                    <input
                            name="use-sums"
                            class="form-check-input"
                            type="checkbox"
                            [formControl]="useSumsField">
                    Использовать амплитуды
                </label>
            </div>
            <div class="alert alert-info" role="alert">
                <span class="use-sums-state"
                      *ngIf="useSums">
                  Расчитывать используя суммы амплитуд QRS
                </span>
                <span class="use-sums-state"
                      *ngIf="!useSums">
                  Расчитывать используя амплитуды зубцов QRS
                </span>
            </div>
            <div class="row">
                <div class="col col-12">
                    <button id="to-count" type="submit" class="btn btn-primary">Сохранить</button>
                    <div *ngIf="formChanged" class="form-alert alert alert-warning" role="alert">
                        не сохранено
                    </div>
                    <button type="reset" (click)="reset($event)" class="btn btn-secondary">Сбросить</button>
                </div>
            </div>
            <div *ngIf="message" class="form-message alert alert-success" role="alert">
                {{ this.message }}
            </div>
        </form>
    </div>
</div>